[Desktop Entry]
Encoding=UTF-8
Name=連結至 https://media-cdn.tripadvisor.com/media/photo-s/0f/8c/75/44/caption.jpg
Type=Link
URL=https://media-cdn.tripadvisor.com/media/photo-s/0f/8c/75/44/caption.jpg
Icon=image-jpeg
